<!DOCTYPE HTML>
<html>
<head>
    <title>ting ting</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <img src="img/logo_test.jpg" width="400" height="150"/>
    <a class="btn_top" role="button">내정보</a>
    <a class="btn_top" role="button">매칭현황</a>
    <a class="btn_top" role="button">고객센터</a>
    <a class="btn_top" role="button" href="/">로그아웃</a>

</head>
<body>