{{>layout/header}}
<h1>고객센터</h1>
<h2>FAQ</h2>
<hr>
<table>
    <tr><td>Q1</td><td>매칭이 안 될 시 어떡하나요?</td></tr>
    <tr><td>A1</td><td>한 번 더 원하시면 매칭 다시시도 버튼을 누르면 됩니다.</td></tr>
</table>
<textarea name="msg" rows="3" cols="50"></textarea>
<button>전송</button>

{{>layout/footer}}