{{>layout/header}}
<table>
    <tr><td>학교</td><td><input type="text"></td></tr>
    <tr><td>학과</td><td><input type="text"></td></tr>
    <tr><td>학번</td><td><input type="text" maxlength="9"></td></tr>
    <tr><td>이름</td><td><input type="text"></td></tr>
    <tr><td>이메일</td><td><input type="text"></td></tr>
</table>
<button onclick="location.href='/notice_id'">찾기</button>
{{>layout/footer}}