{{>layout/header}}
<h1>비밀번호 찾기</h1>
<table>
    <tr><td>아이디</td><td><input type="text" id="id"></td></tr>
    <tr><td>가입한 이메일</td><td><input type="text" id="email"><button id="submit">인증</button></td></tr>
    <tr><td>학번</td><td><input type="text" id="num"></td></tr>
</table>
<button onclick="location.href='/changepassword'">찾기</button>
{{>layout/footer}}