{{>layout/header}}
<div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
    <a class="btn btn-outline-light btn-lg px-4" href="/random"><img src="img/random_btn_test.JPG"></a>
</div>
<div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
    <a class="btn btn-outline-light btn-lg px-4" href="/select"><img src="img/select_btn_test.JPG"></a>
</div>
<div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
    <a class="btn btn-outline-light btn-lg px-4" href="/open"><img src="img/open_btn_test.JPG"></a>
</div>

<textarea name="msg" rows="3" cols="50"></textarea>
<button>보내기</button>
{{>layout/footer}}