<!DOCTYPE HTML>
<html>
<head>
    <title>ting ting</title>
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="/"><img src="img/logo_test.jpg" width="350" height="150" onclick=""/></a>
    </div>
</nav>
<form>
    아이디 <input id="userid" type="text"/><br>
    비밀번호 <input id="userpwd" type="password"/>
</form>
<button onclick="location.href='/index'">로그인</button>
<div>
    <a href="/find_id">아이디 찾기/</a>
    <a href = "http://localhost:8080/findpassword">비밀번호 찾기/</a>
    <a href = "/register">회원가입</a>
</div>

</body>
</html>