<!DOCTYPE HTML>
<html>
<head>
    <title>ting ting</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
    <link rel="stylesheet">
    <img src="img/logo_test.jpg" width="400" height="150"/>
</head>
<body>
<form>
    아이디 <input id="userid" type="text"/><br>
    비밀번호 <input id="userpwd" type="password"/>
</form>
<button onclick="location.href='/index'">로그인</button>
<div>
    <a>아이디 찾기/</a>
    <a href = "http://localhost:8080/findpassword">비밀번호 찾기/</a>
    <a href = "/register">회원가입</a>
</div>

</body>
</html>