{{>layout/header}}
<h1>메인화면</h1>
<div>
    <h2>소개글</h2>
</div>
<div>
    <a href="/login"><img src="img/login_test.JPG"></a>
</div>
<div>
    <a href="/register"><img src="img/register_test.JPG"></a>
</div>

{{>layout/footer}}