{{>layout/header}}
<!-- Testimonials section-->
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">매칭현황</h2>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <!-- Testimonial 1-->
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><img src="img/ran_test.JPG"></div>
                            <div class="ms-4">
                                <p class="mb-1"> 인원수 : 4명 </p>
                            </div>
                            <div class="flex-shrink-0"><button class="btn btn-primary btn-lg disabled">매칭중</button></div>
                            <div class="flex-shrink-0"><button class="btn btn-primary btn-lg disabled">매칭취소</button></div>
                        </div>
                    </div>
                </div>
                <!-- Testimonial 2-->
                <div class="card mb-4">
                    <div class="card-body p-4">
                        <div class="d-flex">
                            <div class="flex-shrink-0"><img src="img/sel_test.JPG"></div>
                            <div class="ms-4">
                                <p class="mb-1"> 상세 정보 ~~~ </p>
                            </div>
                            <div class="flex-shrink-0"><button>매칭완료</button></div>
                            <div class="flex-shrink-0"><button>채팅이동</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{>layout/footer}}