{{>layout/header}}
<h1>매칭현황</h1>
<table>
    <tr><td><img src="img/ran_test.JPG"></td><td>인원수: 4명</td><td><button>매칭중</button></td><td><button>매칭취소</button></td></tr>
    <tr><td><img src="img/sel_test.JPG"></td><td>상세정보~~</td><td><button>매칭완료</button></td><td><button>채팅이동</button></td></tr>
</table>
{{>layout/footer}}