{{>layout/header}}

<section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <h1 class="text-center">랜덤매칭</h1>
                <hr class="main_hr">
                <div>
                    <h3 class="text-center">인원수</h3>
                </div>
                <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                     <button class="btn btn-primary btn-lg" id="btn_m" onclick="minus()">-</button>
                    <input class="form-control form-control-4" type="text" id="var1" value="1" readonly>
                    <button class="btn btn-primary btn-lg" id="btn_p" onclick="plus()">+</button>
                </div>
                <!-- id input-->
                <div class="gap-3 d-sm-flex form-control ran_id ">
                    <table id="ran_table" class=" ran justify-content-center">
                        <tr><td class="text-center fs-5">아이디</td></tr>
                        <tr id="ran_userid0"><td><input class="form-control form-control-5 justify-content-center mb-1" type="text"></td></tr>
                    </table>
                </div>
                <div class="mb-3 mt-3">
                    <textarea class="form-control" readonly>남녀 혼합, 성비가 부족한 경우 동성간의 매칭이 이루어질 수 있습니다.</textarea>
                </div>
                <div class="mb-3 mt-3 fs-5">
                    동의 <input type="checkbox" name="agree" value="y">
                </div>
                <button class="btn btn-primary btn-lg form-control" onclick="location.href='/matchlist'">매칭시작</button>
            </div></div></div></section>
{{>layout/footer}}