{{>layout/header}}
<h1>랜덤매칭</h1>
<table>
    <tr><td><button id="btn_m" onclick="minus">-</button></td><td><input type="text" id="var1" value="1" readonly></td><td><button id="btn_p" onclick="plus()">+</button></td></tr>
</table>
{{>layout/footer}}