<!DOCTYPE HTML>
<html>
<head>
    <title>ting ting</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8"/>
    <link rel="stylesheet">
    <img src="img/logo_test.jpg" width="400" height="150"/>
</head>
<body>
<table>
    <tr><td>학교검색</td><td><input id="userid" type="text"/></td><td><button>검색</button></td></tr>
    <tr><td>학교 이메일</td><td></td><td></td></tr>
    <tr><td>학과</td><td></td><td></td></tr>
    <tr><td>학번</td><td><input id="number" type="text" maxlength="9"/></td></tr>
    <tr><td>이름</td><td><input id="name" type="text"/></td></tr>
    <tr><td>성별</td><td>
        <input type="radio" name="gen" value="m">남
        <input type="radio" name="gen" value="f">여
    </td></tr>
    <tr><td>생년월일</td><td><input id="birth" type="text" maxlength="6"/></td></tr>
    <tr><td>아이디</td><td><input id="userid" type="text"/></td><td><button>중복확인</button></td></tr>
    <tr><td>비밀번호</td><td><input id="name" type="password"/></td></tr>
    <tr><td>비밀번호 확인</td><td><input id="name" type="password"/></td></tr>
    <tr><td>소개</td><td><textarea name="msg" rows="3" cols="30"></textarea></td></tr>
</table>
<button>약관보기</button>  약관동의 <input type="checkbox" name="agree" value="y"><br>
<button onclick="location.href='/login'">회원가입</button>
</body>
</html>